In [1]:
import pandas as pd

def clean_data(df):
    # Drop column: 'Dealer_Name'
    df = df.drop(columns=['Dealer_Name'])
    # Drop rows with missing values in 'Customer Name'
    df = df.dropna(subset=['Customer Name'])
    # Remove 'Â' in the 'Model' column
    df['Engine'] = df['Engine'].str.replace('Â','', regex=False)
    # Change 'Phone' column to string type
    df['Phone'] = df['Phone'].astype(str)
    return df

# Loaded variable 'df'
df = pd.read_csv('carSales.csv')

df_clean = clean_data(df.copy())
df_clean.head()

,Car_id,Date,Customer Name,Gender,Annual Income,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Ford,Expedition,Double Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,Dodge,Durango,Double Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Acura,TL,Double Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

In [2]:
# Save the cleaned DataFrame to a new CSV file
df_clean.to_csv('carSales_clean.csv', index=False)